* {
    box-sizing: border-box;
}

input {
    display: block;
    margin: auto;
    font-size: 22px;
    color: black;
    border-color: black;
    outline-color: black;
}

.background {
    background-color: #e0d4e4;
}

.notesbackground {
    background-color: #f9c1d9;
}

titlecolor {
    color: #ef6592;
}

.title {
    text-align: center;
    font-size: 60px;
    word-spacing: 30px;
}

.column {
    float: left;
    padding: 10px;
}

.itemborder {
    border-style: solid;
}

.left {
    width: 8%;
}

.center {
    width: 12%;
}

.right {
    width: 80%;
    margin-bottom: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.order {
    margin: 10px;
    color: black;
}

hr.solid {
    border-top: 3px solid rgb(9, 8, 8);
}

.homelink {
    text-decoration: none;
}

.table {
    font-size: 20px;
}

.margins {
    margin: 3em;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .margins {
        margin: 1em;
    }
}